<div id="list">
	<div id="ListHeader">
		<% if @find_by_tagging %>
			<p>Listing task tagged with:<%= @find_by_tagging.name %></p>
		<% end %>
	</div>
	<div class="todolist">
		<ul id="incomplete_items">
			<% @tasks.each do |i|%>
				<%= render "task", :task => i unless i.status %> 
			<% end %>
		</ul>	
	</div>
	<div id="non_sortable">
		<% unless @find_by_tagging %>
			<div class="additem">
        	  <div id="additem">
        	    <a id="add" href="#">Add new task</a>
        	  </div>
        	</div>
        	<form action="/tasks" class="new_task" id="new_task" method="post">
				<input name="authenticity_token" type="hidden" value="<%= "#{form_authenticity_token}" %>" />
				<p>
			      <label for="task_name">Add new task or</label><a id="cancel" href="#">cancel</a><br />
  				  <input id="task_name" name="task[name]" size="40" type="text" />
  				</p>
  				<p>
  				  <label for="task_tag_names">Tags</label><br />	
  				  <input id="task_tag_names" name="task[tag_names]" size="40" type="text" value="" />
  				</p>
  				<p>
  				  <input id="task_submit" name="commit" type="submit" value="Add to list" />
  				</p>
			</form>
       		<div class="todolist">
				<ul id="complete_items">
					<% @tasks.each do |c|%>
						<%= render "task", :task => c if c.status %> 
					<% end %>
				</ul>	
			</div>
		<% else %>
			<%= link_to 'Back', tasks_path %>	
		<% end %>	
	</div>	
</div>