<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Status:</b>
  <%=h @task.status %>
</p>

<p>
  <b>Position:</b>
  <%=h @task.position %>
</p>

<p>
  <b>User:</b>
  <%=h @task.user_id %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>