<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Tags:</b>
  <%=h @task.tag_names %>
</p>

<p>
  <b>Status:</b>
  <%=h @task.status %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>